<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Binding</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p> {{ link }} </p>
        <p> <a href="link">Canal?</a> </p>
        <p> <a v-bind:href="link">Canal</a> </p>
        <p> <a :href="link">Canal</a> </p>
        <p> 
            <input type="text" v-model="nome"> <br> <!-- Aqui eu uso v-model para fazer um to way data binding -->
            <input type="text" v-model="sobrenome"> <br>
            <span>{{ nome }}{{ sobrenome }}</span>
        </p>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                nome: "Pedro",
                sobrenome: "Reckel",
                link: "https://youtube.com/cod3rcursos"
            },
            // watch: {
            //     nome(novoValor) {
            //         console.log(novoValor.toUpperCase())
            //     }
            // }
        })
    </script>
</body>
</html>